/* Add CSS Styling */

.first-element, .second-element {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.first-element {
    background-color: black;
    color: white;
}

.second-element {
    background-color: yellow;
}